html {
    background-image: url(../images/CB.jpg);
}

body {
    width: 700px;
    padding: 50px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Georgia', 'Didot', serif;
    border-style: 5px double #668077;
    background:linear-gradient(60deg,#CDEFFA,#CDFAEA)
}

a {
    font-size: 14pt;
    color: #FFBB1C;
    text-decoration: none;
    text-align: center
}

a:hover {
    color: #B3FF1C;
}

h1 {
    font-size: 40pt;
    color: #00521A;
    border-style: 2px dashed #668077;
    text-transform: uppercase;
}

p {
    font-size: 16pt;
    line-height: 14pt;
}

img {
    border: outset #666;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 3);
}
